.DS_Store
.Rhistory
.env.R
.env
data/raw/MODIS
slurm*
submit.sh
data/processed/NDVI/HDF
data/time-series-transforms/*/rocket
data/time-series-transforms/Thailand
models
data/processed/Thailand_ts_data.csv
data/raw/Thailand Geodata
